bedrock-agentcore==1.6.2
bedrock-agentcore-starter-toolkit==0.3.5
langchain==1.2.15
langchain-core==1.2.29
langchain-google-genai==4.2.1
typing-extensions==4.15.0
python-dotenv==1.2.2
requests==2.33.1
PyYAML==6.0.3
boto3==1.42.89
botocore==1.42.89
ipykernel==7.2.0
